/*
=============================
----------GENERAL------------
=============================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #fff;
  
}

.container {
  background-color: #34383e;
}  

.main {
  background-color: #fff;
  height: 100rem;
}


/*
=============================
----------HEADER------------
=============================
*/

header {
  max-width: 102.4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 4rem;
}

/*----------HEADINGS-----------*/

.main-heading {
  grid-column-start: 1; 
  grid-column-end: 5;
  grid-row-start: 1; 
  grid-row-end: 2; 
}

 h1 {
  font-size: 4.5rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 3rem;
  margin-left: 3rem;
}

/*----------BUTTON-----------*/

button {
  padding: .5rem 1.5rem;
  cursor: pointer;
  border-radius: .4rem;
}

/*----------LOGIN-----------*/

.login-area {
  grid-column-start: 5; 
  grid-column-end: 6;
  grid-row-start: 1; 
  grid-row-end: 2; 
  justify-self: end;
  align-self: center;
  margin-top: 3rem;
}

.login-area button {
  color: #34383e;
  background-color: #e7e6e7;
}

/*----------NAV-----------*/

.nav {
  grid-column-start: 1; 
  grid-column-end: 4;
  grid-row-start: 2; 
  grid-row-end: 3; 
}

nav {
  list-style: none;
  margin-left: 3rem;
}

nav li {
  display: inline-block;
}

nav li a:link,
nav li a:visited {
  display: inline-block;
  padding: 0.8rem 1rem 1.2rem 1rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  cursor: pointer;
}

nav li a:hover,
nav li a:active {
  display: inline-block;
  background-color: #5b6977;
  border-top-left-radius: .6rem;
  border-top-right-radius: .6rem;
}

/*----------MANAGE TICKETS-----------*/

.add-ticket {
  grid-column-start: 4; 
  grid-column-end: 5;
  grid-row-start: 2; 
  grid-row-end: 3; 
  justify-self: end;
  padding-right: 2rem;
}

.add-ticket button {
  background: linear-gradient(to bottom, #84b94f, #557635);
  color: #fff;
  padding: .7rem 1.3rem;
  border: 1px solid #557635;
}

.search-ticket {
  grid-column-start: 5; 
  grid-column-end: 6;
  grid-row-start: 2; 
  grid-row-end: 3; 
  justify-self: end;
  align-self: center;
  padding-bottom: 1rem;
}

.search-ticket input {
  background-color: #141414;
  color: #bebeb8;
  border: 1px solid #141414;
  padding: .8rem;
  border-radius: .5rem;
}

.search-ticket input::placeholder {
  padding-left: .4rem;
  font-size: 1.5rem;
  font-family: FontAwesome;
  color: #bebeb8;
  opacity: 1;
}

.menu-hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  header {
    grid-template-columns: 1fr 1fr;
  }

  .menu-hamburger {
    display: block;
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 1; 
    grid-row-end: 2; 
    justify-self: end;
    font-size: 3rem;
    margin-right: 2rem;
    padding-top: 2rem;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .main-heading {
    grid-column-start: 1; 
    grid-column-end: 3;
    grid-row-start: 2; 
    grid-row-end: 3; 
    justify-self: center;
    align-self: top;
  }

  h1 {
    margin: 0;
  }

  .login-area {
    grid-column-start: 1; 
    grid-column-end: 2;
    grid-row-start: 3; 
    grid-row-end: 4;
    margin-top: 0;
    margin-right: 2rem;
  }

  .add-ticket {
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 3; 
    grid-row-end: 4; 
    justify-self: start;
  }

  .nav {
    display: none;
  }

  .search-ticket {
    grid-column-start: 1; 
    grid-column-end: 3;
    grid-row-start: 4; 
    grid-row-end: 5; 
    justify-self: center;
    margin-bottom: 2rem;
  }

  .main-heading,
  .login-area {
    padding: 0;
  }
}
